# iRacing OAuth2 credentials (Password Limited Flow)
# Register at: https://oauth.iracing.com/oauth2/book/client_registration.html
#
# Secrets use 1Password references (op:// URIs).
# Run commands with: op run -- npm run fetch-data
IRACING_CLIENT_ID=1209467-pwlimited
IRACING_CLIENT_SECRET=op://Private/iRacing oauth secret/add more/secret
IRACING_USERNAME=op://Private/IRacing/billTo_email_verify
IRACING_PASSWORD=op://Private/IRacing/password1
